body {
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

#menu {
  background: #a78cff;
  color: #fff;
  height: 51px;
  padding-left: 18px;
  border-radius: 8px;
}
#menu ul,
#menu li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#menu ul {
  width: 100%;
}
#menu li {
  float: left;
  display: inline;
  position: relative;
}
#menu a {
  display: block;
  line-height: 51px;
  padding: 0 14px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}
#menu a.dropdown-arrow:after {
  content: "\25BE";
  margin-left: 5px;
}
#menu li a:hover {
  color: #0099cc;
  background: #f2f2f2;
}
#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 51px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
#menu label {
  display: none;
  line-height: 51px;
  text-align: center;
  position: absolute;
  left: 35px;
}
#menu label:before {
  font-size: 1.6em;
  content: "\2261";
  margin-left: 20px;
}
#menu ul.sub-menus {
  height: auto;
  overflow: hidden;
  width: 170px;
  background: #444444;
  position: absolute;
  z-index: 99;
  display: none;
}
#menu ul.sub-menus li {
  display: block;
  width: 100%;
}
#menu ul.sub-menus a {
  color: #ffffff;
  font-size: 16px;
}
#menu li:hover ul.sub-menus {
  display: block;
}
#menu ul.sub-menus a:hover {
  background: #f2f2f2;
  color: #444444;
}
@media screen and (max-width: 800px) {
  #menu {
    position: relative;
  }
  #menu ul {
    background: #111;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
  }
  #menu ul.sub-menus {
    width: 100%;
    position: static;
  }
  #menu ul.sub-menus a {
    padding-left: 30px;
  }
  #menu li {
    display: block;
    float: none;
    width: auto;
  }
  #menu input,
  #menu label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  #menu input {
    z-index: 4;
  }
  #menu input:checked + label {
    color: white;
  }
  #menu input:checked + label:before {
    content: "\00d7";
  }
  #menu input:checked ~ ul {
    display: block;
  }
}

#menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #a78cff;
  z-index: 999;
}

.full-width-image {
  width: 100%;
  height: 60vh; /* Mengatur tinggi gambar menjadi 60% dari tinggi viewport */
  object-fit: cover; /* Untuk menjaga aspek rasio gambar */
}
.landing-page {
  position: relative;
}

.full-width-image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  filter: blur(3.8px) brightness(0.6) contrast(1.3);
}

.text-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
  padding: 20px;
  text-align: left;
}

.text-container h1 {
  margin: 0;
  font-size: 24px;
}

.text-container p {
  margin: 10px 0;
  font-size: 16px;
}

.btn-prediksi {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a78cff;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.text-container h1 {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-style: italic;
  font-size: 45px;
}

.text-container p {
  color: #fff;
  font-weight: normal;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.card {
  width: calc(50% - 10px);
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-content {
  margin-top: 20px;
}

.card-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
  display: none;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-text {
  font-size: 14px;
  color: #666666;
}
