<!DOCTYPE html>
<html>
  <head>
    <title>FAQ Stunting</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style_faq.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script>
      window.addEventListener("DOMContentLoaded", (event) => {
        const faqToggleButtons = document.querySelectorAll(".faq-toggle");

        faqToggleButtons.forEach((button) => {
          button.addEventListener("click", () => {
            const faq = button.parentElement;
            const faqText = faq.querySelector(".faq-text");
            faqText.classList.toggle("active");
            faq.classList.toggle("active");
          });
        });
      });
    </script>
  </head>
  <body>
    <nav id="menu">
      <input
        type="checkbox"
        id="responsive-menu"
        onclick="updatemenu()"
      /><label></label>
      <ul>
        <li><a href="/">Beranda</a></li>
        <li><a href="/prediksi-stunting">Prediksi Stunting</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/info-stunting">Info Stunting</a></li>
      </ul>
    </nav>
    <!-- faq -->
    <div class="faq-container">
      <div class="faq active">
        <h3 class="faq-title">Apa itu stunting?</h3>

        <p class="faq-text">
          Stunting adalah kondisi di mana pertumbuhan anak terhambat akibat
          kurangnya asupan gizi yang memadai dan faktor lingkungan yang tidak
          mendukung.
        </p>
        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>

      <div class="faq">
        <h3 class="faq-title">
          Apa dampak negatif dari stunting pada perkembangan anak?
        </h3>

        <p class="faq-text">
          Stunting dapat berdampak negatif pada perkembangan otak, kesehatan,
          dan prestasi belajar anak.
        </p>
        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>

      <div class="faq">
        <h3 class="faq-title">Bagaimana prevalensi stunting di Indonesia?</h3>

        <p class="faq-text">
          Menurut hasil Survei Status Gizi Indonesia (SSGI) pada tahun 2022,
          prevalensi stunting di Indonesia adalah 21,6 persen.
        </p>
        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>

      <div class="faq">
        <h3 class="faq-title">
          Apa yang menjadi target penurunan angka stunting di Indonesia?
        </h3>

        <p class="faq-text">
          Presiden Joko Widodo menargetkan penurunan stunting di bawah 20 persen
          pada tahun 2024.
        </p>
        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>

      <div class="faq">
        <h3 class="faq-title">
          Apa saja upaya yang dilakukan pemerintah Indonesia untuk menangani
          stunting?
        </h3>
        <p class="faq-text">
          Pemerintah melakukan berbagai upaya, seperti memberikan intervensi
          gizi pada ibu hamil dan anak usia 0-2 tahun, meningkatkan akses air
          bersih dan sanitasi, memperbaiki kualitas pangan dan pola makan, serta
          melakukan inovasi dan terobosan berbasis data.
        </p>
        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>

      <div class="faq">
        <h3 class="faq-title">
          Mengapa penanganan stunting harus menjadi prioritas nasional?
        </h3>
        <p class="faq-text">
          Stunting bukan hanya masalah kesehatan, tetapi juga masalah
          pembangunan manusia dan kebudayaan. Penanganan stunting merupakan
          tanggung jawab bersama untuk memastikan anak-anak Indonesia dapat
          mencapai potensi mereka dan menjadi generasi emas di masa depan.
        </p>
        <button class="faq-toggle">
          <i class="fas fa-chevron-down"></i>
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
  </body>
</html>
