<!DOCTYPE html>
<html>
  <head>
    <title>Beranda</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <nav id="menu">
      <input
        type="checkbox"
        id="responsive-menu"
        onclick="updatemenu()"
      /><label></label>
      <ul>
        <li><a href="/">Beranda</a></li>
        <li><a href="/prediksi-stunting">Prediksi Stunting</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/info-stunting">Info Stunting</a></li>
      </ul>
    </nav>
    <div class="landing-page">
      <img
        class="full-width-image"
        src="/static/image/background.jpg"
        alt="Full Width Image"
      />

      <div class="text-container">
        <h1>Selamat Datang di SIPRESTUN</h1>
        <p>
          Ini adalah kata-kata sambutan dan informasi sekilas tentang stunting.
        </p>
        <p>
          Stunting adalah kondisi pertumbuhan terhambat yang biasanya terjadi
          pada anak-anak akibat kekurangan gizi kronis dalam jangka waktu yang
          lama.
        </p>
        <p>
          Untuk melakukan prediksi stunting, silakan klik tombol di bawah ini.
        </p>
        <a class="btn-prediksi" href="/prediksi-stunting">Prediksi Stunting</a>
      </div>
    </div>
    <div class="card-container">
      <div class="card">
        <a
          href="https://p2ptm.kemkes.go.id/tag/cegah-stunting-dengan-perbaikan-pola-makan-pola-asuh-dan-sanitasi"
          target="_blank"
        >
          <img
            src="/static/image/stunting_01.png"
            class="card-image"
            alt="Card Image"
          />
          <div class="card-content">
            <img
              src="/static/image/stunting_01.png"
              class="card-thumbnail"
              alt="Card Thumbnail"
            />
            <div class="card-description">
              <h5 class="card-title">
                Cegah Stunting dengan Perbaikan Pola Makan, Pola Asuh dan
                Sanitasi
              </h5>
              <p class="card-text">
                Sebagian besar masyarakat mungkin belum memahami istilah yang
                disebut stunting.
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="card">
        <a
          href="https://www.nestlehealthscience.co.id/artikel/masalah-stunting-anak"
          target="_blank"
        >
          <img
            src="/static/image/1_1.jpg"
            class="card-image"
            alt="Card Image"
          />
          <div class="card-content">
            <img
              src="https://mdbootstrap.com/img/new/standard/nature/111.webp"
              class="card-thumbnail"
              alt="Card Thumbnail"
            />
            <div class="card-description">
              <h5 class="card-title">
                Ketahui Masalah Stunting dan Cara untuk Kurangi...
              </h5>
              <p class="card-text">
                Stunting menjadi salah satu problem kesehatan yang masih
                menggejala di Indonesia.
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="card">
        <a
          href="https://rsudblora.blorakab.go.id/2022/12/15/mengenal-stunting-penyebab-hingga-cara-pencegahannya/"
          target="_blank"
        >
          <img
            src="/static/image/apa-itu-stunting-768x432.jpeg"
            class="card-image"
            alt="Card Image"
          />
          <div class="card-content">
            <img
              src="https://mdbootstrap.com/img/new/standard/nature/111.webp"
              class="card-thumbnail"
              alt="Card Thumbnail"
            />
            <div class="card-description">
              <h5 class="card-title">
                Mengenal Stunting, Penyebab Hingga Cara Pencegahannya
              </h5>
              <p class="card-text">
                Stunting adalah masalah gizi kronis akibat kurangnya asupan gizi
                dalam jangka waktu panjang sehingga mengakibatkan terganggunya
                pertumbuhan pada anak.
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="card">
        <a
          href="https://kupang.antaranews.com/berita/105483/artikel--rekam-jejak-penyebab-stunting-pada-anak"
          target="_blank"
        >
          <img
            src="/static/image/S_48668680_1.jpg.webp"
            class="card-image"
            alt="Card Image"
          />
          <div class="card-content">
            <img
              src="https://mdbootstrap.com/img/new/standard/nature/111.webp"
              class="card-thumbnail"
              alt="Card Thumbnail"
            />
            <div class="card-description">
              <h5 class="card-title">
                Artikel - Rekam jejak penyebab stunting pada anak
              </h5>
              <p class="card-text">
                ...Kita ingin memastikan bahwa ibu dan anak kita terurus dengan
                baik, alat timbangan yang hanya ada di 10 ribu
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
