<!DOCTYPE html>
<html>
  <head>
    <title>Info Stunting</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style_info_stunting.css') }}"
    />
  </head>
  <body>
    <nav id="menu">
      <input
        type="checkbox"
        id="responsive-menu"
        onclick="updatemenu()"
      /><label></label>
      <ul>
        <li><a href="/">Beranda</a></li>
        <li><a href="/prediksi-stunting">Prediksi Stunting</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/info-stunting">Info Stunting</a></li>
      </ul>
    </nav>

    <article>
      <h1>Info Stunting</h1>
      <p>
        Stunting adalah kondisi di mana pertumbuhan anak terhambat akibat
        kurangnya asupan gizi dan faktor lingkungan yang tidak mendukung.
        Stunting dapat berdampak negatif pada perkembangan otak, kesehatan, dan
        prestasi belajar anak. Oleh karena itu, pemerintah Indonesia berkomitmen
        untuk menurunkan angka stunting di bawah 20 persen sesuai standar WHO.
      </p>
      <img
        class="imageinfo"
        src="/static/image/Screenshot_20221206-200524_Office.jpg"
        alt=""
      />
      <p>
        Menurut hasil Survei Status Gizi Indonesia (SSGI) yang diumumkan oleh
        Kementerian Kesehatan pada Januari 2023, prevalensi stunting di
        Indonesia turun dari 24,4 persen di tahun 2021 menjadi 21,6 persen di
        tahun 2022. Penurunan ini terjadi di tengah pandemi Covid-19 yang
        menimbulkan berbagai tantangan bagi kesejahteraan masyarakat. Presiden
        Joko Widodo menyampaikan bahwa target penurunan stunting harus lebih
        agresif, yaitu mencapai 14 persen di tahun 2024.
      </p>
      <p>
        Untuk mencapai target tersebut, pemerintah melakukan berbagai upaya yang
        melibatkan lintas sektor dan pemangku kepentingan. Beberapa upaya
        tersebut antara lain adalah memberikan intervensi gizi pada ibu hamil
        dan anak usia 0-2 tahun, meningkatkan akses air bersih dan sanitasi,
        memperbaiki kualitas pangan dan pola makan, serta melakukan inovasi dan
        terobosan berbasis data. Selain itu, pemerintah juga berkolaborasi
        dengan berbagai pihak, seperti BKKBN, akademisi, swasta, media, dan
        masyarakat.
      </p>
      <p>
        Stunting bukan hanya masalah kesehatan, tetapi juga masalah pembangunan
        manusia dan kebudayaan. Stunting dapat menghambat potensi anak-anak
        Indonesia untuk menjadi generasi emas di masa depan. Oleh karena itu,
        penanganan stunting harus menjadi prioritas nasional dan tanggung jawab
        bersama.
      </p>
    </article>

    <div class="sources">
      <h3>Sumber:</h3>
      <ul>
        <li>
          <a href="https://www.sindonews.com/topic/344/stunting"
            >https://www.sindonews.com/topic/344/stunting</a
          >
        </li>
        <li>
          <a
            href="https://sehatnegeriku.kemkes.go.id/baca/rilis-media/20230125/3142280/prevalensi-stunting-di-indonesia-turun-ke-216-dari-244/"
            >https://sehatnegeriku.kemkes.go.id/baca/rilis-media/20230125/3142280/prevalensi-stunting-di-indonesia-turun-ke-216-dari-244/</a
          >
        </li>
        <li>
          <a
            href="https://kemkes.go.id/article/view/21122800001/penurunan-prevalensi-stunting-tahun-2021-sebagai-modal-menuju-generasi-emas-indonesia-2045.html"
            >https://kemkes.go.id/article/view/21122800001/penurunan-prevalensi-stunting-tahun-2021-sebagai-modal-menuju-generasi-emas-indonesia-2045.html</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
