<!DOCTYPE html>
<html>
  <head>
    <title>Info Stunting</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style_info_stunting.css') }}"
    />
  </head>
  <body>
    <nav id="menu">
      <input
        type="checkbox"
        id="responsive-menu"
        onclick="updatemenu()"
      /><label></label>
      <ul>
        <li><a href="/">Beranda</a></li>
        <li><a href="/prediksi-stunting">Prediksi Stunting</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/info-stunting">Info Stunting</a></li>
      </ul>
    </nav>

    <div class="info-page">
      <h1>Informasi tentang Stunting</h1>

      <h2>Apa itu Stunting?</h2>
      <p>
        Stunting adalah kondisi pertumbuhan terhambat pada anak akibat
        kekurangan gizi dalam jangka waktu yang lama. Hal ini dapat menyebabkan
        keterbatasan pertumbuhan fisik dan perkembangan otak.
      </p>

      <h2>Penyebab Stunting</h2>
      <p>
        Penyebab utama stunting adalah kurangnya asupan nutrisi yang memadai,
        terutama pada periode 1.000 hari pertama kehidupan anak, yaitu mulai
        dari dalam kandungan hingga usia dua tahun. Faktor-faktor lain seperti
        infeksi, sanitasi yang buruk, dan faktor sosial-ekonomi juga dapat
        berkontribusi terhadap stunting.
      </p>

      <h2>Dampak Stunting</h2>
      <p>
        Stunting dapat memiliki dampak jangka panjang pada kesehatan dan
        perkembangan anak. Anak yang mengalami stunting memiliki risiko lebih
        tinggi mengalami gangguan pertumbuhan, kecerdasan terbatas, serta rentan
        terhadap penyakit infeksi.
      </p>

      <h2>Pencegahan dan Penanganan Stunting</h2>
      <p>
        Pencegahan stunting melibatkan upaya pemenuhan gizi yang baik sejak
        dalam kandungan, pemberian ASI eksklusif selama 6 bulan, pemberian
        makanan pendamping ASI yang bergizi, serta perbaikan sanitasi dan
        kesehatan lingkungan. Jika seorang anak sudah mengalami stunting,
        penanganannya meliputi pemberian nutrisi yang adekuat, perawatan
        kesehatan yang tepat, serta pendidikan dan dukungan keluarga yang
        berkaitan dengan gizi.
      </p>

      <h2>Sumber Daya</h2>
      <p>
        Untuk informasi lebih lanjut tentang stunting, Anda dapat mengunjungi
        situs web resmi organisasi kesehatan dunia seperti WHO (World Health
        Organization) dan UNICEF (United Nations International Children's
        Emergency Fund).
      </p>
    </div>
  </body>
</html>
